.navbar{
  position: relative;
  height: 100%;
  background-color: #f2f2f2;
}

.nav-content{
  font-family: manrope;
  transform: translateX(-50%);
  left: 50%;
  top: 0;
  position: absolute;
  height: 90%;
}

.nav-item{
  width: 200px;
  font-weight: 500;
  color: #808080;
  border-radius: 4px;
  gap: 5px;
  padding: 8px 50px 8px 20px;
}
.nav-item:hover{
  text-decoration: none;
  color: gray;
  background-color: #B4CD93;
}


.main{
  margin-left: 20%;
}


@font-face {
  font-family: manrope;
  src: url(./publics/fonts/Manrope-Medium.ttf);
}

