body{
  font-family: manrope;
}

.navbar {
  position: relative;
  height: 100%;
  background-color: #f2f2f2;
}

.nav-content {
  font-family: manrope;
  transform: translateX(-50%);
  left: 50%;
  top: 0;
  position: absolute;
  height: 90%;
}

.nav-item {
  width: 200px;
  font-weight: 500;
  color: #808080;
  border-radius: 4px;
  gap: 5px;
  padding: 8px 50px 8px 20px;
  transition: 0.5s;
}
.nav-item:hover {
  text-decoration: none;
  color: gray;
  background-color: rgb(180, 205, 147);
  transition: 1s;
}
.main {
  margin-top: 10px;
  margin-left: 16%;
}
.search-box {
  background-color: #eeeeee;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  padding: 3px;
  border: 1px solid gray;
  padding-left: 16px;
}
.search-box input {
  background-color: inherit;
  margin-left: 10px;
  outline: none;
  border: none;
  width: 100%;
}

.search-box img:hover {
  background-color: #cccccc;
}

.section2-box {
  padding: 10px 8px 5px 8px;
  width: 100%;
  height: 200px;
  background-color: #eeeeee;
}
.section2 .input-box {
  width: 200px;
  height: 30px;
  border: 1px solid gray;
}

.section2 input {
  width: 100%;
  border: none;
  outline: none;
}
.section2 button {
  border: none;
  outline: none;
}
.section2 img{
  transition: 1s;
}
.section2 img:hover{
  z-index: 100;
  transform: scale(1.5);
  transition: 1.5s;
}

.section3 .content{
  height: 300px;
  overflow-y: scroll;
}

.user-status {
  position: relative;
  width: 50px;
  height: 30px;
  border-radius: 3px;
  background-color: #deede5;
}
.user-status::after{
  font-size: small;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  content: 'Verified';
  color: #427A5B;
  display: block;
}

.progress-style{
  height: 8px;
  width: 100%;
  transition: 2s;
}
.raitings{
  display: flex;
  align-items: center;
  gap: 10px;
}

.rating-status {
  color: #427A5B;
  position: relative;
  border-radius: 3px;
  width: 100px;
  height: 25px;
  background-color: #deede5;
}
.rating-status::after{
  font-size: small;
  position: absolute;
  top: 5px;
  left: 50%;
  content: '4%';
  color: #427A5B;
  display: block;
}

.table-footer{
  height: 50px;
  background-color: #F7F7F7;
}

.pagination{
  display: flex;
  gap: 10px;
}

.page-index{
  cursor: pointer;
  padding: 3px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #E6E6E6;
}
.section3-box1{
  padding: 10px 8px 5px 8px;
  width: 100%;
  height: 200px;
  background-color: #eeeeee;
}
.section3-box2 {
  padding: 10px 8px 5px 8px;
  width: 100%;
  height: 100px;
  background-color: #eeeeee;
}

@font-face {
  font-family: manrope;
  src: url(./publics/fonts/Manrope-Medium.ttf);
}
