

.darkthem {
  background-color: #343a40;
  color: white;
}
.lightthem {
  background-color: #F2F2F2;
}


.slider-menu {
  background-color: #F2F2F2;
  top: 0;
  z-index: 10;
  position: fixed;
  height: 100vh;
  width: 250px;
  left: -250px;
}
.menu-open{
  left: 0;
  transition: 1s;
}
.menu-close{
  left: -250;
  transition: 1s;
}

.logo{
  gap: 20px;
}

.navbar {
  position: relative;
  height: 100%;
  background-color: #f2f2f2;
}
.nav-content {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  justify-content: space-around;
  font-family: manrope;
  transform: translateX(-50%);
  left: 50%;
  top: 0;
  position: absolute;
  height: 90%;
}

.nav-item {
  width: 200px;
  font-weight: 500;
  color: #808080;
  border-radius: 4px;
  gap: 5px;
  padding: 8px 50px 8px 20px;
  transition: 0.2s;
}
.nav-item:hover {
  text-decoration: none;
  color: gray;
  background-color: rgb(180, 205, 147);
  transition: 1s;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.main {
  margin-top: 10px;
  width: 100%;
}

.search-box{
  background-color: #eeeeee;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  padding: 3px;
  border: 1px solid gray;
  padding-left: 16px;
}
.search-box input {
  background-color: inherit;
  margin-left: 10px;
  outline: none;
  border: none;
  width: 100%;
}

.input-box-filter {
  width: 200px;
  height: 30px;
  border: 1px solid gray;
}

.input-box-filter input {
  width: 100%;
  border: none;
  outline: none;
}
.section1 button {
  border: none;
  outline: none;
}
.section1 .content {
  height: 300px;
  overflow-y: scroll;
}

.user-status {
  position: relative;
  width: 50px;
  height: 30px;
  border-radius: 3px;
  background-color: #deede5;
}
.user-status::after {
  font-size: small;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  content: "Verified";
  color: #427a5b;
  display: block;
}

.progress-style {
  height: 8px;
  width: 100%;
  transition: 2s;
}
.raitings {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rating-status {
  color: #427a5b;
  position: relative;
  border-radius: 3px;
  width: 100px;
  height: 25px;
  background-color: #deede5;
}
.rating-status::after {
  font-size: small;
  position: absolute;
  top: 5px;
  left: 50%;
  content: "4%";
  color: #427a5b;
  display: block;
}

.table-footer {
  height: 50px;
  background-color: #f7f7f7;
}

.pagination {
  display: flex;
  gap: 10px;
}

.page-index {
  cursor: pointer;
  padding: 3px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e6e6e6;
}

.sid-box-wrapper{
  gap: 10px;
}
.sid-box-wrapper .box1 {
  border-radius: 4px;
  padding: 10px 8px 5px 8px;
  width: 100%;
  height: 200px;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.sid-box-wrapper .box2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 4px;
  padding: 10px 8px 5px 8px;
  width: 100%;
  height: 100px;
  background-color: #eeeeee;
}
.sid-box-wrapper .best-project {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sid-box-wrapper .best-artist-btn{
  background-color: #DEEDE5;
  width: max-content;


}
.sid-box-wrapper .time-box {
  border-radius: 3px;
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  /* transform: scale(1.5); */
}
.time {
  gap: 10px;
}



